<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<form th:method="POST" th:action="@{/logout}"><input type="submit" class="submitLink" value="logout"></form>
<form th:method="patch" th:action="@{/admin?id={uid}(uid=${user.getId()})}" th:object="${user}">
    <label for="username">введите username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red">username Error</div>
    <br/>
    <label for="password">введите пароль:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">password Error</div>
    <br/>
    <label for="name">введите имя:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Name Error</div>
    <br/>
    <label for="surname">введите фамилию:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red">Surname Error</div>
    <br/>
    <label for="email">введите e-mail:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">E-mail Error</div>
    <br/>
    <label for="age">введите возраст:</label>
    <input type="number" th:field="*{age}" id="age" />
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">Age Error</div>
    <input type="hidden" th:field="*{id}" />
    <br/>
    <span>Роль пользователя:</span>
    <div th:each="role: ${allRoles}">
        <input type="checkbox" th:id="${{role}}" th:value="${{role}}" th:field="*{roles}" />
        <label th:for="${{role}}" th:text="${role}">Admin</label>
    </div>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>

</body>
</html>