<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" />
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet">-->
    <title>Spring Security Example (KATA 3.1.2)</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-1 mb-md-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" th:href="@{/user}"><h4 sec:authentication="name">USER NAME</h4></a>
<!--                    <a class="nav-link active" th:href="@{/user}"><h1 th:text="${user.getUsername()}">USER NAME</h1></a>-->
                </li>
                <li class="nav-item disabled" sec:authorize="isAuthenticated()">
                    <a class="nav-link"><h4>with roles:</h4></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
<!--                    <a class="nav-link"><h1 sec:authentication="${#strings.listJoin(principal.authorities, ', ')}"></h1></a>-->
                    <a class="nav-link" disabled=""><h4 th:text="${#strings.listJoin(loggedInUser.getAuthorities(),', ')}">[ROLES]</h4></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-1 mb-md-0">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link active" th:href="@{/login}"><h4>Login</h4></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:method="POST" th:action="@{/logout}">
                        <h4><input type="submit" class="nav-link active" value="Logout"></h4>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container min-vh-100">
    <h1>Welcome to Index PAGE!!!</h1>
    <div>
        <th:block th:each="msg : ${messages}">
            <h1 th:text="${msg}"></h1>
        </th:block>
    </div>
</main>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>