<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Spring Security Example</title>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
            border-spacing: 10px;
            padding: 10px;
        }
        .submitLink {
            background-color: transparent;
            text-decoration: underline;
            border: none;
            color: blue;
            cursor: pointer;
        }
        submitLink:focus {
            outline: none;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/logout}"><input type="submit" class="submitLink" value="logout"></form>
<h1 th:text="${user.getName() + ' ' + user.getSurname() + ', добро пожаловать!'}">User, welcome spring boot security page!</h1>
<table>
    <tr><td>username:</td><td th:text="${user.getUsername()}">username</td></tr>
    <tr><td>имя:</td><td th:text="${user.getName()}">name</td></tr>
    <tr><td>фамилия:</td><td th:text="${user.getSurname()}">surname</td></tr>
    <tr><td>e-mail:</td><td th:text="${user.getEmail()}">e-mail</td></tr>
    <tr><td>роль:</td><td><div th:each="r : ${user.getRoles()}"><p th:text="${r.getRole()}"></p></div></td></tr>
<!--    <tr><td>роль:</td><td th:text="${String.join(' ', user.getRoles())}">role</td></tr>-->
</table>

</body>
</html>