<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet">-->
</head>
<body>
<form th:method="POST" th:action="@{/logout}"><input type="submit" class="submitLink" value="logout"></form>
<h1 th:text="${user.getName() + ' ' + user.getSurname() + ', добро пожаловать!'}">User, welcome spring boot security page!</h1>
<table>
    <tr><td>username:</td><td th:text="${user.getUsername()}">username</td></tr>
    <tr><td>имя:</td><td th:text="${user.getName()}">name</td></tr>
    <tr><td>фамилия:</td><td th:text="${user.getSurname()}">surname</td></tr>
    <tr><td>e-mail:</td><td th:text="${user.getEmail()}">e-mail</td></tr>
    <tr><td>возраст:</td><td th:text="${user.getAge()}">age</td></tr>
    <tr><td>роль:</td><td><div th:each="r : ${user.getAuthorities()}"><p th:text="${r}"></p></div></td></tr>
</table>
</body>
</html>